body {
  
  --main-color: #ffffff;
  --hover-color: #0891b2;

  background: linear-gradient(#0F172A, #06090f);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'JetBrains Mono', monospace;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

main {
  display: grid;
}

H1 {
  font-size: 4rem;
  margin: 10px;
}

H2 {
  font-size: 2rem;
  margin: 10px;
}

p {
  font-weight: 300;
  margin: 10px;
}

a {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.06em;
  transition-duration: 500ms, 500ms;
}

a:hover {
  color: var(--hover-color);
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20em;
}

svg {
  color: var(--main-color);
  height: 50px;
  transition-duration: 500ms, 500ms;
}

svg:hover {
  color: var(--hover-color);
  transform: scale(1.15) rotate(10deg);
}

.social-icons {
  display: flex;
}

@media (prefers-color-scheme: light) {
  body {
    
    --main-color: #181818;
    --hover-color: #16a34a;

    background: linear-gradient(#dcfce7, #065f46);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
