body {
  background: linear-gradient(#0F172A, #06090f);
  background-color: #0F172A;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'JetBrains Mono', monospace;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

main {
  display: grid;
  /* line-height: 0.1 */
}

H1 {
  font-size: 4rem;
  margin: 10px;
}

H2 {
  font-size: 2rem;
  margin: 10px;
}

p {
  font-weight: 300;
  margin: 10px;
}

a {
  color: #75cee9;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.06em;
  transition: color var(--transition);
}
